:root {
    /* color */
    --text-color:  rgb(247, 247, 238);
    --text-color2:  rgb(71, 8, 3);
    --header-color: #b2b2b2;
    --background-color: rgb(75, 74, 74);
    --nav-color :#666666;
    --accent-color: #c70752;
    /* size */

    --padding1: 13px 0px;
  /* font size */
    --font-size1: 11px;
    --font-size2: 18px;
}
* {
    padding: 0;
    margin: 0;
    
    /* box-sizing: border-box; */

}
a {
    color: var(--text-color);
    text-decoration: none;
}
li{
    padding: 10px;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw; 

    
}

header {

    height: 33px;
    background-color: var(--header-color);    
}

nav {
    /* background-color: var(--nav-color); */
    position: sticky;
    top:0;
}
.bgColor {
    height: 70px;
    background-color: var(--nav-color);
}

.container {
    /* align-items: center; */
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    /* padding: var(--padding1); */
}

.logo {
    padding: var(--padding1);
}

.naviMenu {
    display: flex;
    font-size: var(--font-size2);
}
.naviMenu li {
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
.naviMenu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
    color: var(--text-color);
} 

.naviM2 {
    display: flex;
    font-size: var(--font-size1);
}
.toogleBtn {
    display: none;
    position: absolute;
    right: 15px;
    padding: 5px;
}

.submenu {
    display:block;
    background-color: aquamarine;
    width: 100%;
    height: 340px;

}

@media screen and (max-width:1183px){
    .container {
      /* background-color: var(--nav-color); */
    width: auto;
    margin: 0 auto;
    
    }
}

@media screen and (max-width:760px){

    .container {
        background-color: var(--nav-color);
        width: auto;
        flex-direction: column;
        /* padding: var(--padding1); */
        
    }

    .naviMenu {
        flex-direction: column;
        width: 100%;
        align-items: center;
        display: none;
    }
    .naviMenu li {
        text-align: center;
        width: 100%;
        padding: 8px;

   
    }
    .naviM2 {
        flex-direction: row;
        justify-content: end;
        display: none;
    }
    .toogleBtn {
        display: block;
}
.naviMenu.active,
.naviM2.active {
        display: flex;
}
.submenu {
    display: none;
}
}